html, #root{
height: 100vh;
}

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  background-color: hsl(0, 7%, 86%);
}

p{
  font-size: 19px;
}

